body{
	background-color: #d2d2d2;
	/*сине-фиолетовый*/
	/*background-image: linear-gradient(to right, #364a61, #4279b5, #54a3d8, #7663b9);*/
	/*box-shadow: 0 4px 15px 0 rgba(72, 83, 97, 0.75);*/
	height: 100%;
	width: 1140px;
	padding-left: 60px;
	padding-right: 60px;
	color: black;
	margin: auto;
	outline: none;
	font-size: 15px;
	font-family: Arial;
}

input{
	border-radius: 5px;
	width: 200px;
	height: 30px;
	border-color: blue;
}