.all-cr{
	background-color: white;
	font-size: 16px;
	z-index: 1;
	position: absolute;
    top: 50px;
    left: 100px;
	float: right;
	margin-right: 7%;
	display: none;
	border: solid;
	width: 200px;
	height: auto;
}
#cr-stew, #cr-remy{
	font-size: 17px;
	font-style: italic;
	font-weight: bold;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #00ccff;
}
a: before{
	text-decoration: ;
}

#stew-cont, #remy-cont{
	display: none;
}
.navbar-brand{
	font-style: italic;
}

.categories div ul li a, footer div div ul li a{
	color: white;
	text-decoration: none;
}
.categories div ul li a:hover{
	color: black;
	text-decoration: overline underline !important;
}
nav div a{
	color: black;
}
main div, aside{
	padding-top: 10px;
}
.navbar-brand{
	font-size: 30px;
}
nav{
	margin-bottom: 0px !important;
	padding-bottom: 20px;
	padding-top: 20px;
}
main div{
	background-color: #d2d2d2;
	border-radius: 10px;
	margin: 0 10px 20px;
}
footer{
	display: block;
	top: 95%;
	background-color: black;
	margin-top: 30px;
}
footer>a{
	color: white;
}

main aside{
	background-color: #d2d2d2;
	height: auto;
	border-radius: 10px;
	margin: 0 10px 20px;
}
article{
	min-width: 250px;
	max-width: 500px;
	border-width: 2px;
	margin: 20px 0 20px;
}
.about{
	font-size: 18px;
}
