body {
	background: #161616 url(pattern_40.gif) top left repeat;
	margin-right: 5px;
	padding: 0;
	font: 14px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	color:#fff;
	overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 7px;              /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #161616 url(pattern_40.gif) top left repeat;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;    /* цвет плашки */
  border-radius: 30px;       /* закругления плашки */
  border: 1px solid whitesmoke;
}
*::selection {
   border-radius: 20px;
   color: #000;
   background-color: #00ccff; 
}
main{
	line-height: 1.15;
	width: auto;
	height: auto;
	margin: 5% 10% 20% 10%;
	display: block;
}
img{
	cursor: pointer;
	display: block;
}
.population_chart{
	margin-bottom: 20px;
}
.statistics{
	width: 100%;
	height: 100%;
}
.perc {
    width: 80%;
    height: 30px;
    border: 0px solid #444444;
    text-align: center;
    border-spacing: 0;
    font-size: 0.8em;
    margin: 3px auto;
}
.perc1 {
    background: #00ccff;
    text-shadow: 1px 1px 2px #000000;
    border: 1px solid #444444;
}
.perc2 {
    background: #44C17B;
    text-shadow: 1px 1px 2px #000000;
    border: 1px solid #444444;
}
.perc3 {
    background: #C19444;
    text-shadow: 1px 1px 2px #000000;
    border: 1px solid #444444;
}
.ru-stat,.ua-stat,.ch-stat,.eng-stat,.fr-stat,.ger-stat,.nd-stat,.it-stat,.pol-stat,.usa-stat{
	display: none;
}
.stat div:first-child p{
	margin-top: 20px;
	font-size: 20px;
}